<div class="box p-3 md:p-4 xl:p-6 grid grid-cols-12 gap-6 items-center">
    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" id="loginForm" class="col-span-12 lg:col-span-7">
      <div class="box bg-primary/5 dark:bg-bg3 lg:p-6 xl:p-8 border border-n30 dark:border-n500">
        <h3 class="h3 mb-4">Forgot Password</h3>
        <p class="md:mb-6 md:pb-6 mb-4 pb-4 bb-dashed text-sm md:text-base">We will send a code to reset your password</p>
        <label for="email" class="md:text-lg font-medium block mb-4"> Enter Your Email Address </label>
        <div class="mb-4">
          <input formControlName="email" type="text" class="w-full mb-1 text-sm bg-n0 dark:bg-bg4 border border-n30 dark:border-n500 rounded-3xl px-3 md:px-6 py-2 md:py-3" placeholder="Enter Your Email" id="email" />
          @if (emailForm.get('email')?.errors && emailForm.get('email')?.touched) {
          <span class="text-secondary2" *ngIf="emailForm.get('email')?.errors?.['required']">Email is required</span>
          <span class="text-secondary2" *ngIf="emailForm.get('email')?.errors?.['email']">Email is not valid</span>
          <span class="text-secondary2" *ngIf="emailForm.get('email')?.errors?.['minlength']">Email must be at least 2 character</span>
          }
        </div>

        <div class="mt-8 flex gap-6">
          <button type="submit" class="btn px-5" [disabled]="loading">Send OTP</button>
        </div>

        <p class="mt-4">
          Click Here 
           <a class="text-primary" routerLink="/auth/sign-in"> Back to Login </a>
         </p>
      </div>
    </form>
    <div class="col-span-12 lg:col-span-5">
      <img src="assets/images/auth.png" alt="img" width="533" height="560" />
    </div>
  </div>
  