<div class="relative min-h-screen bg-secondary1/5 dark:bg-bg3">
  <img src="assets/images/ellipse1.png" class="absolute top-16 md:top-5 ltr:right-10 rtl:left-10" alt="ellipse" />
  <img src="assets/images/ellipse2.png" class="absolute bottom-6 ltr:left-0 rtl:right-0 ltr:sm:left-32 rtl:sm:right-32" alt="ellipse" />
  <a routerlink="/dashboards/user">
    <img [src]="colorMode == 'light' ? 'assets/images/ezbill-logo.png' : 'assets/images/ezbill-logo.png'" width="174" height="38" class="p-5 shrink-0 lg:p-5 relative z-[2]" alt="logo" />
  </a>
  <div class="flex items-center justify-center mt-7">
    <div class="relative z-[2] max-w-[1416px] mx-auto px-3 pb-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
