<div class="box p-3 md:p-4 xl:p-6 grid grid-cols-12 gap-6 items-center">
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" id="ResetForm" class="col-span-12 lg:col-span-7">
    <div class="box bg-primary/5 dark:bg-bg3 lg:p-6 xl:p-8 border border-n30 dark:border-n500">
      <h3 class="h3 mb-4">Reset your account</h3>
      <p class="md:mb-6 md:pb-6 mb-4 pb-4 bb-dashed text-sm md:text-base">An 6-digit code has been sent to <span class="text-primary">{{email}}</span> </p>
      <label for="code" class="md:text-lg font-medium block mb-4"> Enter code </label>
      <div class="col-span-2 md:col-span-1">
        <div class="mb-2">
          <div id="codefield" class="bg-n0 dark:bg-bg4 border border-n30 dark:border-n500 rounded-3xl px-3 md:px-6 py-2 md:py-2.5 relative">
            <input formControlName="code" type ="text" class="w-11/12 mb-1 text-sm bg-transparent p-0 border-none" placeholder="Enter Code" id="code" />
            <!-- <span (click)="toggleVisibility()" class="absolute eye-icon ltr:right-5 rtl:left-5 top-1/2 -translate-y-1/2 cursor-pointer" >
              @if(passwordVisible){
              <i class="las la-eye"></i>
              } @else {
              <i class="las la-eye-slash"></i>
              }
            </span> -->
          </div>
          @if (resetForm.get('code')?.errors && resetForm.get('code')?.touched) {
          <span class="text-secondary2" *ngIf="resetForm.get('code')?.errors?.['required']">Code is required</span>
          }
        </div>
      </div>

      <!-- <p class="md:mb-6 md:pb-6 mb-4 pb-4 bb-dashed text-sm md:text-base">Reset your account</p> -->
      <label for="password" class="md:text-lg font-medium block mb-4"> Enter Your Password </label>
      <div class="col-span-2 md:col-span-1">
        <div class="mb-2">
          <div id="passwordfield" class="bg-n0 dark:bg-bg4 border border-n30 dark:border-n500 rounded-3xl px-3 md:px-6 py-2 md:py-2.5 relative">
            <input formControlName="password"  [type]="passwordVisible ? 'text' : 'password'" class="w-11/12 mb-1 text-sm bg-transparent p-0 border-none" placeholder="Enter Password" id="password2" />
            <span (click)="toggleVisibility()" class="absolute eye-icon ltr:right-5 rtl:left-5 top-1/2 -translate-y-1/2 cursor-pointer" >
              @if(passwordVisible){
              <i class="las la-eye"></i>
              } @else {
              <i class="las la-eye-slash"></i>
              }
            </span>
          </div>
          @if (resetForm.get('password')?.errors && resetForm.get('password')?.touched) {
          <span class="text-secondary2" *ngIf="resetForm.get('password')?.errors?.['required']">Password is required</span>
          <span class="text-secondary2" *ngIf="resetForm.get('password')?.errors?.['minlength']">Password must be at least 4 character</span>
          }
        </div>
      </div>

      <label for="password" class="md:text-lg font-medium block mb-4"> Enter Your Confirm Password </label>
      <div class="col-span-2 md:col-span-1">
        <div class="mb-2">
          <div id="passwordfield" class="bg-n0 dark:bg-bg4 border border-n30 dark:border-n500 rounded-3xl px-3 md:px-6 py-2 md:py-2.5 relative">
            <input formControlName="confirm_password" [type]="passwordVisibleForReset ? 'text' : 'password'" class="w-11/12 mb-1 text-sm bg-transparent p-0 border-none" placeholder="Enter confirm password" id="password2" />
            <span (click)="toggleVisibilityForReset()" class="absolute eye-icon ltr:right-5 rtl:left-5 top-1/2 -translate-y-1/2 cursor-pointer" >
              @if(passwordVisibleForReset){
              <i class="las la-eye"></i>
              } @else {
              <i class="las la-eye-slash"></i>
              }
            </span>
          </div>
          @if (resetForm.get('confirm_password')?.errors && resetForm.get('confirm_password')?.touched) {
          <span class="text-secondary2" *ngIf="resetForm.get('confirm_password')?.errors?.['required']">Confirm Password is required</span>
          }
          @if (resetForm.get('confirm_password')?.value != '' && resetForm.get('password')?.value != resetForm.get('confirm_password')?.value && resetForm.get('confirm_password')?.touched) {
            <span class="text-secondary2">Confirm Password must be match with password</span>
            }
        </div>
      </div>
      <div class="mt-8 flex gap-6">
        <button type="submit" class="btn px-5"  [disabled]="reset_loading">Reset</button>
        <button type="button" class="btn px-5" (click)="forgetResend()" [disabled]="forget_password_resend_loading">Resend</button>
      </div>
     
      <p class="mt-4">
        Click Here 
         <a class="text-primary" routerLink="/auth/sign-in"> Back to Login </a>
       </p>

    </div>
  </form>
    <div class="col-span-12 lg:col-span-5">
      <img src="assets/images/auth.png" alt="img" width="533" height="560" />
    </div>
  </div>
  