<app-top-banner />
<div class="grid grid-cols-12 gap-4 xxl:gap-6">
  <!-- Stats -->
  <div *ngFor="let stat of stats" class="box col-span-12 bg-n0 dark:bg-bg4 min-[650px]:col-span-6 xxxl:col-span-3">
    <div class="bb-dashed mb-4 flex items-center justify-between pb-4 lg:mb-6 lg:pb-6">
      <span class="font-medium">{{ stat.title }}</span>
      <app-options-horiz />
    </div>
    <div class="flex items-center justify-between">
      <div>
        <h4 class="h4 mb-4">{{ stat.amount }}</h4>
        <span class="flex items-center gap-1 whitespace-nowrap text-primary"> <i class="las la-arrow-up text-lg"></i> {{ stat.percent }} AVG </span>
      </div>
      <div class="-my-3 shrink-0 ltr:translate-x-3 xl:ltr:translate-x-7 xxxl:ltr:translate-x-2 4xl:ltr:translate-x-9 rtl:-translate-x-3 xl:rtl:-translate-x-7 xxxl:rtl:-translate-x-2 4xl:rtl:-translate-x-9">
        <!-- <ProgressChart :series="series" /> -->
        <app-progress-chart [series]="stat.series" />
      </div>
    </div>
  </div>

  <!-- asset charts -->
  <div class="box col-span-12 overflow-x-hidden">
    <div class="bb-dashed mb-4 flex flex-wrap items-center justify-between gap-3 pb-4">
      <h4 class="h4">Your Assets</h4>
      <div class="rounded-lg border border-n30 bg-primary/5 dark:border-n500">
        <button (click)="updateData(item.long)" *ngFor="let item of times" [ngClass]="{ active: selection == item.long }" class="asset-btn px-4 py-2 text-xs font-medium first:rounded-s-lg last:rounded-e-lg">
          {{ item.short }}
        </button>
      </div>
    </div>

    <apx-chart
      [chart]="assetChartOptions.chart"
      [stroke]="assetChartOptions.stroke!"
      [dataLabels]="assetChartOptions.dataLabels!"
      [markers]="assetChartOptions.markers!"
      [colors]="assetChartOptions.colors!"
      [xaxis]="assetChartOptions.xaxis!"
      [yaxis]="assetChartOptions.yaxis!"
      [tooltip]="assetChartOptions.tooltip!"
      [fill]="assetChartOptions.fill!"
      [responsive]="assetChartOptions.responsive"
      [series]="assetChartOptions.series"
      [grid]="assetChartOptions.grid!"
    />
  </div>

  <!-- Latest Transactions -->
  <div class="box col-span-12 lg:col-span-6">
    <div class="bb-dashed mb-4 flex flex-wrap items-center justify-between gap-4 pb-4 lg:mb-6 lg:pb-6">
      <h4 class="h4">Latest Transaction</h4>
      <app-options-horiz />
    </div>
    <div class="overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <thead>
          <tr class="bg-secondary1/5 dark:bg-bg3">
            <th (click)="tableService1.sortData('title')" class="flex min-w-[300px] cursor-pointer items-center gap-1 px-6 py-5 text-start">Title <i class="las la-exchange-alt rotate-90 text-base"></i></th>
            <th (click)="tableService1.sortData('medium')" class="min-w-[120px] cursor-pointer px-6 py-5 text-start">
              <div class="flex items-center gap-1">Medium <i class="las la-exchange-alt rotate-90 text-base"></i></div>
            </th>
            <th (click)="tableService1.sortData('amount')" class="min-w-[120px] cursor-pointer px-6 py-5 text-start">
              <div class="flex items-center gap-1">Amount <i class="las la-exchange-alt rotate-90 text-base"></i></div>
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- Transactions Data -->
          <tr *ngFor="let item of tableService1.paginatedData" class="even:bg-secondary1/5 dark:even:bg-bg3">
            <td class="px-6 py-2">
              <div class="flex items-center gap-3">
                <img [src]="item.icon" width="32" height="32" class="rounded-full" alt="payment medium icon" />
                <div>
                  <p class="mb-1 font-medium">{{item.title}}</p>
                  <span class="text-xs">{{item.time}}</span>
                </div>
              </div>
            </td>
            <td class="px-6 py-2">{{item.medium}}</td>
            <td class="px-6 py-2">${{getLocale(item.amount)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <a class="group mt-6 inline-flex items-center gap-1 font-semibold text-primary" href="#">
      See More
      <i class="las la-arrow-right duration-300 group-hover:pl-2"></i>
    </a>
  </div>
  <!-- Transaction account -->
  <div class="box col-span-12 lg:col-span-6">
    <div class="bb-dashed mb-4 flex flex-wrap items-center justify-between gap-4 pb-4 lg:mb-6 lg:pb-6">
      <h4 class="h4">Transaction Account</h4>
      <app-options-horiz />
    </div>
    <div class="overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <thead>
          <tr class="bg-secondary1/5 dark:bg-bg3">
            <th class="min-w-[280px] cursor-pointer px-6 py-5 text-start">
              <div (click)="tableService2.sortData('title')" class="flex items-center gap-1">Title <i class="las la-exchange-alt rotate-90 text-base"></i></div>
            </th>
            <th class="w-[20%] cursor-pointer px-6 py-5 text-start">
              <div (click)="tableService2.sortData('amount')" class="flex items-center gap-1">Amount <i class="las la-exchange-alt rotate-90 text-base"></i></div>
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- Transactions Data -->
          <tr *ngFor="let item of tableService2.paginatedData" class="even:bg-secondary1/5 dark:even:bg-bg3">
            <td class="px-6 py-2">
              <div class="flex items-center gap-3">
                <img [src]="item.icon" width="60" height="40" class="rounded" alt="payment medium icon" />
                <div>
                  <p class="mb-1 font-medium">{{item.title}}</p>
                  <span class="text-xs">{{item.time}}</span>
                </div>
              </div>
            </td>
            <td class="px-6 py-2">
              <div>
                <p class="font-medium">${{getLocale(item.amount)}}</p>
                <span class="text-xs">Account Balance</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <a class="group mt-6 inline-flex items-center gap-1 font-semibold text-primary" href="#">
      See More
      <i class="las la-arrow-right duration-300 group-hover:pl-2"></i>
    </a>
  </div>
</div>
