<ul class="flex gap-2 xxxl:gap-3">
  <li>
    <a routerLink="#" aria-label="social link" class="p-1 md:p-1.5 hover:bg-primary hover:text-n0 duration-300 inline-flex text-primary rounded-full border border-primary">
      <i class="lab la-facebook-f"></i>
    </a>
  </li>
  <li>
    <a routerLink="#" aria-label="social link" class="p-1 md:p-1.5 hover:bg-primary hover:text-n0 duration-300 inline-flex text-primary rounded-full border border-primary">
      <i class="lab la-twitter"></i>
    </a>
  </li>
  <li>
    <a routerLink="#" aria-label="social link" class="p-1 md:p-1.5 hover:bg-primary hover:text-n0 duration-300 inline-flex text-primary rounded-full border border-primary">
      <i class="lab la-skype"></i>
    </a>
  </li>
  <li>
    <a routerLink="#" aria-label="social link" class="p-1 md:p-1.5 hover:bg-primary hover:text-n0 duration-300 inline-flex text-primary rounded-full border border-primary">
      <i class="lab la-instagram"></i>
    </a>
  </li>
  <li>
    <a routerLink="#" aria-label="social link" class="p-1 md:p-1.5 hover:bg-primary hover:text-n0 duration-300 inline-flex text-primary rounded-full border border-primary">
      <i class="lab la-linkedin"></i>
    </a>
  </li>
</ul>
